# SPRING-USER
SPRING_UR_SERVICE_URL=
SPRING_UR_JDBC_URL=
SPRING_UR_DB_USER=
SPRING_UR_DB_PASSWORD=
SPRING_UR_DB_DRIVER=
SPRING_UR_PORT=

SPRING_UR_REDIS_HOST=
SPRING_UR_REDIS_PORT=

# SPRING-COMPUTE
SPRING_CP_SERVICE_URL=
SPRING_CP_JDBC_URL=
SPRING_CP_DB_USER=
SPRING_CP_DB_PASSWORD=
SPRING_CP_DB_DRIVER=
SPRING_CP_PORT=

SPRING_CP_SERVICE_WS_URL=
SPRING_CP_KAFKA_BOOTSTRAP_SERVERS=

# SPRING-ORCHESTRATOR-WORKER
SPRING_WK_SERVICE_URL=
SPRING_WK_JDBC_URL=
SPRING_WK_DB_USER=
SPRING_WK_DB_PASSWORD=
SPRING_WK_DB_DRIVER=
SPRING_WK_PORT=
SPRING_WK_KAFKA_BOOTSTRAP_SERVERS=

SPRING_WK_SERVICE_WS_URL=
SPRING_WK_REDIS_HOST=
SPRING_WK_REDIS_PORT=

# SPRING-API-GATEWAY
SPRING_API_GATEWAY_PORT=
SPRING_API_GATEWAY_REDIS_HOST=
SPRING_API_GATEWAY_REDIS_PORT=

# ACCESS_TOKEN
JWT_ACCESS_TOKEN_SECRET_KEY=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=


